{
    "name": "solar_simple_processor",
    "pipeline": [
        {
            "$source": {
                "connectionName": "sample_stream_solar",
                "timeField": { "$dateFromString": { "dateString": "$timestamp" }}
            }
        },
        {
            "$match": {
                "obs.max_watts": { "$exists": true, "$ne": null, "$gt": 100 }
            }
        },
        {
            "$addFields": {
                "processing_timestamp": "$$NOW",
                "processor_name": "solar_simple_processor",
                "alert_type": "HIGH_SOLAR_OUTPUT",
                "filtered_max_watts": "$obs.max_watts"
            }
        },
        {
            "$merge": {
                "into": {
                    "connectionName": "YourClusterConnection",
                    "db": "your_database",
                    "coll": "your_collection"
                },
                "whenNotMatched": "insert"
            }
        }
    ]
}
